<div>
  <h2>Books2</h2>
  <ol class='breadcrumb'>
    <li><a href='#/books'>Books</a></li>
    <li class='active'>{{ctrl.review.book.title}}</li>
  </ol>
</div>
<div class='row'>
  <div class='col-md-12'>
    <ul class='books list-unstyled'>
      <sb-review review='ctrl.review'></sb-review>
      <li class='row book'>
        <div class='col-xs-9 col-xs-offset-3 col-md-8 col-md-offset-3 col-lg-offset-2'>
          <h3>More From <a href='{{ctrl.review.link}}' target='_blank'>Goodreads</a></h3>
          <div class='description' sb-safe-html='{{ctrl.review.book.description}}'></div>
          <div>
            <h3>Genres</h3>
            <ul class='list-unstyled list-inline'>
              <li ng-repeat='genre in ctrl.review.book.genres'>
                <a class='label label-primary' href='' ng-click='ctrl.addFilter(\"genre\",genre)'>{{genre}}</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
