<div>
  <h2>Books</h2>
  <ol class='breadcrumb'>
    <li><a href='#/books'>Books</a></li>
    <li class='active'>{{ctrl.review.book.title}}<span ng-show="!ctrl.review.book">Loading...</span></li>
  </ol>
</div>
<div class='row'>
  <div class='col-md-8 col-sm-8'>
    <ul class='list-unstyled books'>
      <li ng-show="!ctrl.review.book">Loading...</li>
      <sb-review review='ctrl.review' ng-show="ctrl.review.book"></sb-review>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1 col-sm-4'>
    <h3>Filter Books</h3>
    <p><b>{{filteredReviews.length}}</b> Matching Book(s)</p>
    <sb-filters filter='ctrl.filter' shelf='ctrl.shelf'></sb-filters>
    <sb-filter-rating></sb-filter-rating>
    <sb-filter-date-read></sb-filter-date-read>

    <div class='shelves' ng-if='ctrl.user.shelves.length > 0'>
      <h3>Shelves</h3>
      <ul class='list-unstyled'>
        <li ng-repeat='shelf in ctrl.user.shelves' ng-if='shelf.books_count > 0'>
          <a ng-href='#/shelf/{{shelf.name}}'>{{shelf.name | titleize}}</a> <span class='badge'>{{shelf.books_count}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
