<div>
  <h2>Books</h2>

  <ol class="breadcrumb">
    <li>Books</li>
  </ol>

  <!-- Show which filters are active -->
</div>

<div class='row'>

  <div class='col-md-8'>
    <div ng-if='currentlyReadingAnything' class='currently-reading'>
      <ul class='list-unstyled books'>
        <sb-review ng-repeat='review in currentlyReading' review='review'></sb-book>
      </ul>
    </div>

    <ul class='list-unstyled books'>
      <sb-review ng-repeat='review in reviews | filter:{rating:rating}' review='review'></sb-book>
    </ul>
  </div>

  <div class='col-md-3 col-md-offset-1'>
    <h3>Filter Books</h3>
    <sb-rating-select reviews='reviews' active-rating='rating'></sb-rating-select>
  </div>
</div>
